
$font-size-base: 16px;
$font-family-base: 'Segoe UI', sans-serif;
$primary-color: #e915bb;
$primary-color-dark: #300431; 
$navbar-height: 60px;
$light-color: rgb(255, 255, 255);
$dark-color: #0a0a23;
$background-color: #3d2e56; 
 